# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/app/build/
android/.gradle/
android/app/release/
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*.xcodeproj

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage/

# @ expo俏
.tar.gz/

# TypeScript
*.tsbuildinfo

# Temporary files
*.swp
*.swo
*~
